<p id="notice"><%= notice %></p>
<div class="head">
  <div class="h1">Champion Positional Stats</div>
</div>

<%= link_to 'Back To Welcome Page', controller: 'welcome_page' %>


<%= form_tag(controller: :champion_positional_stats, action: :filter_sort) do %>
  <%= select_tag "Ladder Rank", raw("<option>IRON</option><option>BRONZE</option><option>SILVER</option><option>GOLD</option><option>PLATINUM</option><option>DIAMOND</option><option>MASTER</option><option>GRANDMASTER</option><option>CHALLENGER</option>") %>
  <%= select_tag "Position", raw("<option>TOP</option><option>JUNGLE</option><option>MID</option><option>BOTTOM</option><option>SUPPORT</option>") %>
  <%= hidden_field_tag(page_params: @page_params)
  <%= submit_tag("Apply Filter") %>
<% end %>

<div class="table">
  <div class="tableHead">
	  <div class="tableRow">
		  <div class="tableCell"><stong>Champion</stong></div>
      <div class="tableCell">
        <stong>Winrate</stong>
      </div>
      <div class="tableCell">
        <stong>Pickrate(WIP)</stong>
      </div>
      <div class="tableCell">
        <stong>Banrate(WIP)</stong>
      </div>
      <div class="tableCell">
        <stong>Game Version</stong>
      </div>
      <div class="tableCell">
        <stong>Ladder Rank</stong>
      </div>
      <div class="tableCell">
        <stong>Position</stong>
      </div>
      <div class="tableCell">
        <stong>Link</stong>
      </div>
	  </div>
  </div>
    <% @champion_positional_stats.each do |cps| %>
      <div class="tableRow">
        <div class="tableCell"><%= cps.name %></div>
        <div class="tableCell"><%= number_to_percentage(((cps.num_of_matches_won / (cps.num_of_matches_lost + cps.num_of_matches_won)) * 100))  %></div>
        <div class="tableCell"><%= number_to_percentage((cps.pickrate/@page_params.num_matches) * 100)  %></div>
        <div class="tableCell"><%= number_to_percentage((cps.banrate/@page_params.num_matches) * 100) %></div>
        <div class="tableCell"><%= truncate(cps.game_version, :length => 7) %></div>
        <div class="tableCell"><%= cps.cps_ladder_rank %></div>
        <div class="tableCell"><%= cps.cps_position %></div>
        <div class="tableCell"><%= link_to 'Show', champion_path(cps.champion_id, ret: :true)%></div>
      </div>
    <% end %>
</div>



<%= link_to 'Back To Welcome Page', controller: 'welcome_page' %>
