<h1>Welcome To The Stats Page</h1>
<p>Gaze upon the field of stats before you.</p>
<%= link_to 'The Stats', controller: 'stats' %>
<%= link_to 'Participant Timeline Dtos', controller: 'participant_timeline_dto' %>
<%= link_to 'Matches', controller: 'matches' %>
<%= link_to 'Team Stats Dtos', controller: 'team_stats_dto' %>
<%= link_to 'Champions', controller: 'champion' %>
<%= link_to 'Participant Stats Dtos', controller: 'participant_stats_dto' %>

<p>This is my welcome page</p>
