
<!-- This is the Summoners Index View-->
<div class ="head">
  <div class ="h1">Summoners</div>
</div>

<%= render partial: "next_back_return", locals: {page_params: @page_params} %>

<br>
  <div class="submissionForm">
    <div class="horizontal_display">
      <div class="hd1">
        <%= form_tag(controller: :summoners, action: :read_summoner_json) do %>
        <%= label_tag(:api_key, "Summoner API Key: ") %>
        <%= text_field_tag(:api_key) %>
        <%= label_tag(:summoner_name, "Summoner_name: ") %>
        <%= text_field_tag(:summoner_name) %>
        <%= submit_tag("Pull from Riot API") %>
        <% end %>
      </div>

      <div class="hd2">
        <%= form_tag(controller: :summoners, action: :search_for_summoner) do %>
        <%= label_tag(:summoner_name, "Summoner_name: ") %>
        <%= text_field_tag(:summoner_name) %>
        <%= submit_tag("Search for Summoner") %>
        <% end %>
      </div>
      <br></br>
      <%= tag.button(link_to 'Clear Filter', controller: 'summoners') %>
    </div>
  </div>
<br>

<div class="table">
  <div class="tableHead">
	  <div class="tableRow">
		  <div class="tableCell"><strong> ID <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "id", asc: "asc", page_num: 1} %>
                                         <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "id", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Name <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "name", asc: "asc", page_num: 1} %>
                                            <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "name", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Queue Type <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "queue_type", asc: "asc", page_num: 1} %>
                                                 <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "queue_type", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Rank <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "rank", asc: "asc", page_num: 1} %>
                                           <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "rank", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Tier <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "tier", asc: "asc", page_num: 1} %>
                                            <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "tier", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Level <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "level", asc: "asc", page_num: 1} %>
                                            <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "level", asc: "desc", page_num: 1} %>
    </strong></div>
      <div class="tableCell"><strong> Account Id <%= render partial: "sort_button", locals: {sub_tag: "^", col_name: "account_id", asc: "asc", page_num: 1} %>
                                                <%= render partial: "sort_button", locals: {sub_tag: "v", col_name: "account_id", asc: "desc", page_num: 1} %>
    </strong></div>
		</div>
	</div>
	<% @summoners.each do |sum| %>
	<div class="tableRow">
    <div class="tableCell"> <%= sum.id %> </div>
    <div class="tableCell"> <%= sum.name %> </div>
    <div class="tableCell"> <%= sum.queue_type %> </div>
    <div class="tableCell"> <%= sum.rank %> </div>
    <div class="tableCell"> <%= sum.tier %> </div>
    <div class="tableCell"> <%= sum.level %> </div>
    <div class="tableCell"> <%= sum.account_id %> </div>	
	</div>
  <% end %>
</div>

<%= render partial: "next_back_return", locals: {page_params: @page_params} %>
