<h1> Summoners </h1>

<%= button_to "Read Summoner Json", summoners_read_summoner_json_path, method: :post %>

<table>
	<tr>
		<td> ID </td>
		<td> Name </td>
		<td> Summoner_id </td>
		<td> PUUID </td>
		<td> Account Id </td>
		<td> Queue Type </td>
		<td> Rank </td>
		<td> Tier </td>
	</tr>
		<%= @summoners.find_each do |sum| %>
			<td> <%= sum.id %> </td>
			<td> <%= sum.name %> </td>
			<td> <%= sum.league_id %> </td>
			<td> <%= sum.puuid %> </td>
			<td> <%= sum.account_id %> </td>
			<td> <%= sum.queue_type %> </td>
			<td> <%= sum.rank %> </td>
			<td> <%= sum.tier %> </td>
		<% end %>
	</tr>
</table>
