<h1> Summoners </h1>
<br>
<%= link_to 'Back To Welcome Page', controller: 'welcome_page' %>

<br>
<%= form_tag(controller: :summoners, action: :read_summoner_json) do %>
	<%= label_tag(:api_key, "Summoner API Key: ") %>
	<%= text_field_tag(:api_key) %>
	<%= label_tag(:summoner_name, "Summoner_name: ") %>
	<%= text_field_tag(:summoner_name) %>
	<%= submit_tag("Pull from Riot API") %>
<% end %>
<br>

<table>
	<tr>
		<td> ID </td>
		<td> Name </td>
    <td> Queue Type </td>
    <td> Rank </td>
    <td> Tier </td>
		<td> Summoner_id </td>
		<td> PUUID </td>
		<td> Account Id </td>
		
	</tr>
		<% @summoners.find_each do |sum| %>
	<tr>
			<td> <%= sum.id %> </td>
			<td> <%= sum.name %> </td>
      <td> <%= sum.queue_type %></td>
      <td> <%= sum.rank %></td>
      <td> <%= sum.tier %></td>
			<td> <%= sum.league_id %> </td>
			<td> <%= sum.puuid %> </td>
			<td> <%= sum.account_id %> </td>
			
		<% end %>
	</tr>
</table>
