<h1>Listing Team Stats</h1>
<br>                                                                                                                                                                                                         <%= link_to 'Back To Welcome Page', controller: 'welcome_page' %>
<br> 

<table>
	<tr>
		<th>Id</th>
		<th>First Dragon</th>
		<th>First Inhibitor</th>
		<th>Baron Kills</th>
		<th>First Rift Herald</th>
		<th>First Blood</th>
		<th>Team Id</th>
		<th>First Tower</th>
		<th>Vilemaw Kills</th>
		<th>Inhibitor Kills</th>
		<th>Tower Kills</th>
		<th>Dominion Victory Score</th>
		<th>Win</th>
		<th>Dragon Kills</th>
		<th>Matches Id</th>
		<th></th>
	</tr>

	<% @team_stats_dtos.each do |tsd| %>
		<tr>
			<td><%= tsd.id %></td>
			<td><%= tsd.first_dragon %></td>
			<td><%= tsd.first_inhibitor %></td>
			<td><%= tsd.baron_kills %></td>
			<td><%= tsd.first_rift_herald %></td>
			<td><%= tsd.first_baron %></td>
			<td><%= tsd.rift_herald_kills %></td>
			<td><%= tsd.first_blood %></td>
			<td><%= tsd.team_id %></td>
			<td><%= tsd.first_tower %></td>
			<td><%= tsd.vilemaw_kills %></td>
			<td><%= tsd.inhibitor_kills %></td>
			<td><%= tsd.tower_kills %></td>
			<td><%= tsd.dominion_victory_score %></td>
			<td><%= tsd.win %></td>
			<td><%= tsd.dragon_kills %></td>
			<td><%= tsd.matches_id %></td>
		</tr>
	<% end %>
</table>


