
<div class="entirePage">
<div class ="head">
  <div class ="h1">LoL Matches</div>
</div>
<br>

<div class="submissionForm">
<!--<%= form_tag(controller: :matches, action: :get_running_thread_count) do %>                                                      
  <%= label_tag(:api_key, "Summoner API Key: ") %>                                                                        
    <%= submit_tag("Pull Match from Riot API") %>
<% end %> -->

<%= form_tag(controller: :matches, action: :read_json_file) do %>                                                                                                                   	
	<%= label_tag(:api_key, "Summoner API Key: ") %>                                                                                                                                  
	<%= text_field_tag(:api_key) %>
	<%= label_tag(:match_id, "Match Id: ") %>
	<%= text_field_tag(:match_id) %>
	<%= submit_tag("Pull Match from Riot API") %>
<% end %>
<br>
<%= form_tag(controller: :matches, action: :get_matchlist_from_api) do %>                                                                                                                   	
	<%= label_tag(:api_key, "Summoner API Key: ") %>                                                                                                                                  
	<%= text_field_tag(:api_key) %>
	<%= label_tag(:match_id, "Match Id: ") %>
	<%= text_field_tag(:match_id) %>
	<%= submit_tag("Pull matchlist from Riot API") %>
<% end %>                                                                                                                                                                              
<br>
<br>
</div>

 
    <div class="table">
     <div class="tableHead">
      <div class="tableRow">
          <div class="tableCell"><strong>Game Id</strong></div>
          <div class="tableCell"><strong>Season ID</strong></div>
          <div class="tableCell"><strong>Queue ID</strong></div>
          <div class="tableCell"><strong>Game Version</strong></div>
          <div class="tableCell"><strong>Platform Id</strong></div>
          <div class="tableCell"><strong>Game Mode</strong></div>
          <div class="tableCell"><strong>Map Id</strong></div>
          <div class="tableCell"><strong>Game Type</strong></div>
          <div class="tableCell"><strong>Game Duration</strong></div>
          <div class="tableCell"><strong>Game Creation</strong></div>
          <div class="tableCell"><strong>Rank of Game</strong></div>
          <div class="tableCell"><strong>Link</strong></div>
        </div>
      </div>
    
    <% @matches.find_each do |match| %>
      <div class="tableRow">
        <div class="tableCell"><%= match.riot_game_id %></div>
        <div class="tableCell"><%= match.season_id %></div>
        <div class="tableCell"><%= match.queue_id %></div>
        <div class="tableCell"><%= match.game_version %></div>
        <div class="tableCell"><%= match.platform_id %></div>
        <div class="tableCell"><%= match.game_mode %></div>
        <div class="tableCell"><%= match.map_id %></div>
        <div class="tableCell"><%= match.game_type %></div>
        <div class="tableCell"><%= match.game_duration %></div>
        <div class="tableCell"><%= match.game_creation %></div>
        <div class="tableCell"><%= match.ladder_rank_of_match %></div>
        <div class="tableCell"><%= link_to 'Show', match_path(match) %></div>
      </div>
    <% end %>
  </div>
