<!-- This is the index view for matches -->
<div class="entirePage">
<div class ="head">
  <div class ="h1">LoL Matches</div>
</div>
<br>

<div class="submissionForm">
<!--<%= form_tag(controller: :matches, action: :get_running_thread_count) do %>                                                      
  <%= label_tag(:api_key, "Summoner API Key: ") %>                                                                        
    <%= submit_tag("Pull Match from Riot API") %>
<% end %> -->

<%= form_tag(controller: :matches, action: :read_json_file) do %>                                                                                                                   	
	<%= label_tag(:api_key, "Summoner API Key: ") %>                                                                                                                                  
	<%= text_field_tag(:api_key) %>
	<%= label_tag(:match_id, "Match Id: ") %>
	<%= text_field_tag(:match_id) %>
	<%= submit_tag("Pull Match from Riot API") %>
<% end %>
<br>
<%= form_tag(controller: :matches, action: :get_matchlist_from_api) do %>                                                                                                                   	
	<%= label_tag(:api_key, "Summoner API Key: ") %>                                                                                                                                  
	<%= text_field_tag(:api_key) %>
	<%= label_tag(:match_id, "Match Id: ") %>
	<%= text_field_tag(:match_id) %>
	<%= submit_tag("Pull matchlist from Riot API") %>
<% end %>                                                                                                                                                                              
<br>
<%= form_tag(controller: :matches, action: :search_for_match) do %>                                                                                                                   	
	<%= label_tag(:match_id, "Match Id: ") %>
	<%= text_field_tag(:match_id) %>
	<%= submit_tag("Search For Match") %>
<% end %> 
<br>
</div>

  <!-- Need a variable to store if table is in desc or asc order--> 
  
    <div class="table">
     <div class="tableHead">
      <div class="tableRow">
          <div class="tableCell"><strong>Game Id <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "riot_game_id", asc: "asc", page_num: 1} %>
                                                 <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "riot_game_id", asc: "desc", page_num: 1} %>
                                                 </strong></div>
          <div class="tableCell"><strong>Season ID <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "season_id", asc: "asc", page_num: 1} %>
                                                   <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "season_id", asc: "desc", page_num: 1} %>
                                                   </strong></div>
          <div class="tableCell"><strong>Queue ID <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "queue_id", asc: "asc", page_num: 1} %>
                                                  <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "queue_id", asc: "desc", page_num: 1} %>
                                                  </strong></div>
          <div class="tableCell"><strong>Game Version <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "game_version", asc: "asc", page_num: 1} %>
                                                      <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "game_version", asc: "desc", page_num: 1} %>
                                                      </strong></div>
          <div class="tableCell"><strong>Platform Id <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "platform_id", asc: "asc", page_num: 1} %>
                                                     <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "platform_id", asc: "desc", page_num: 1} %>
                                                     </strong></div>
          <div class="tableCell"><strong>Game Mode <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "game_mode", asc: "asc", page_num: 1} %>
                                                   <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "game_mode", asc: "desc", page_num: 1} %>
                                                   </strong></div>
          <div class="tableCell"><strong>Map Id <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "map_id", asc: "asc", page_num: 1} %>
                                                <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "map_id", asc: "desc", page_num: 1} %>
                                                </strong></div>
          <div class="tableCell"><strong>Game Type <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "game_type", asc: "asc", page_num: 1} %>
                                                   <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "game_type", asc: "desc", page_num: 1} %>
                                                   </strong></div>
          <div class="tableCell"><strong>Game Duration <%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "game_duration", asc: "asc", page_num: 1} %>
                                                       <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "game_duration", asc: "desc", page_num: 1} %>
                                                       </strong></div>
          <div class="tableCell"><strong>Game Creation<%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "game_creation", asc: "asc", page_num: 1} %>
                                                      <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "game_creation", asc: "desc", page_num: 1} %>
                                                      </strong></div>
          <div class="tableCell"><strong>Rank<%= render partial: "sort_button", locals: {sub_tag: "↑", col_name: "ladder_rank_of_match", asc: "asc", page_num: 1} %>
                                             <%= render partial: "sort_button", locals: {sub_tag: "↓", col_name: "ladder_rank_of_match", asc: "desc", page_num: 1} %>
                                             </strong></div>
          <div class="tableCell"><strong>Link</strong></div>
        </div>
      </div>
    
    <% @matches.each do |match| %>
      <div class="tableRow">
        <div class="tableCell"><%= match.riot_game_id %></div>
        <div class="tableCell"><%= match.season_id %></div>
        <div class="tableCell"><%= match.queue_id %></div>
        <div class="tableCell"><%= match.game_version %></div>
        <div class="tableCell"><%= match.platform_id %></div>
        <div class="tableCell"><%= match.game_mode %></div>
        <div class="tableCell"><%= match.map_id %></div>
        <div class="tableCell"><%= match.game_type %></div>
        <div class="tableCell"><%= match.game_duration %></div>
        <div class="tableCell"><%= match.game_creation %></div>
        <div class="tableCell"><%= match.ladder_rank_of_match %></div>
        <div class="tableCell"><%= link_to 'Show', match_path(match) %></div>
      </div>
    <% end %>
  </div>

  <% if @page_params.page_num != 1 then %>
    <div class="page_button">
      <%= button_to "Back Page", action: "ascend_descend_next_back", params: {:page_num => (@page_params.page_num - 1), :col_name => @page_params.col_name, :asc => @page_params.asc } %>
    </div>
  <% end %>
<!--Have a count of records in this table. Don't let user try to go past that count-->
<% if @page_params.record_count - (@page_params.page_num * 100) >= 1 then %> 
  <div class="page_button">
    <%= button_to "Next Page", action: "ascend_descend_next_back", params: {:page_num => (@page_params.page_num + 1), :col_name => @page_params.col_name, :asc => @page_params.asc } %>
  </div>
<% end %>

  <%= link_to 'Back To Welcome Page', controller: 'welcome_page' %>