	<p>
	  <strong>Created At</strong>
	  <%= @match.created_at %>
	</p>

	<p>
          <strong>Updated At</strong>
          <%= @match.updated_at %>
	</p>

	<p>
          <strong>Season Id</strong>
          <%= @match.season_id %>
	</p>

	<p>
          <strong>Queue Id</strong>
          <%= @match.queue_id %>
	</p>

	<p>
          <strong>Game Version</strong>
          <%= @match.game_version %>
	</p>

	<p>
          <strong>Platform Id</strong>
          <%= @match.platform_id %>
	</p>

	<p>
          <strong>Game Mode</strong>
          <%= @match.game_mode %>
	</p>

	<p>
          <strong>Map Id</strong>
          <%= @match.map_id %>
	</p>

	<p>
          <strong>game_type</strong>
          <%= @match.game_type %>
	</p>

	<p>
          <strong>game_duration</strong>
          <%= @match.game_duration %>
	</p>

	<p>
          <strong>game_creation</strong>
          <%= @match.game_creation %>
        </p>



