<div class="head">
  <div class="h1">Viewing Match</div>
</div>
<br></br>
<div class="table">
  <div class="tableHead">
    <div class ="tableRow">
      <div class ="tableCell">Season Id</div>
      <div class ="tableCell"> Queue Id </div>
      <div class ="tableCell"> Game Version </div>
      <div class ="tableCell"> Platform Id </div>
      <div class ="tableCell"> Game Mode </div>
      <div class ="tableCell"> Map Id </div>
      <div class ="tableCell"> Game Type </div>
      <div class ="tableCell"> Game Duration </div>
      <div class ="tableCell"> Game Creation </div>
      <div class ="tableCell"> Riot Games Id </div>
      <div class ="tableCell"> PD - Current Platform Id </div>
      <div class ="tableCell"> PD - Summoner Name </div>
      <div class ="tableCell"> PD - Match History URI </div>
      <div class ="tableCell"> PD - Platform Id </div>
      <div class ="tableCell"> PD - Current Account Id </div>
      <div class ="tableCell"> PD - Participant Dto ID </div>
      <div class ="tableCell"> C - Name </div>
    </div>
  </div>
	<% @match.each do |match| %>
	<div class ="tableRow">
		<div class ="tableCell"><%= match.season_id %></div>
		<div class ="tableCell"><%= match.queue_id %></div>
		<div class ="tableCell"><%= match.game_version %></div>
		<div class ="tableCell"><%= match.platform_id %></div>
		<div class ="tableCell"><%= match.game_mode %></div>
		<div class ="tableCell"><%= match.map_id %></div>
		<div class ="tableCell"><%= match.game_type %></div>
		<div class ="tableCell"><%= match.game_duration %></div>
		<div class ="tableCell"><%= match.game_creation %></div>
		<div class ="tableCell"><%= match.riot_game_id %></div>
		<div class ="tableCell"><%= match.current_platform_id %></div> 
		<div class ="tableCell"><%= match.summoner_name %></div> 
		<div class ="tableCell"><%= match.match_history_uri %></div> 
		<div class ="tableCell"><%= match.platform_id %></div> 
		<div class ="tableCell"><%= match.current_account_id %></div> 
		<div class ="tableCell"><%= match.participant_dto_id %></div> 
		<div class ="tableCell"><%= match.name %></div> 
	</div>
	<% end %>
</div>

<%= link_to 'Back', matches_path %>